<!DOCTYPE html>
<html lang="en">
	<%- include ("./partials/head") %>

  <body>
		<main class="container-profile">
			<h1>Welcome back to your profile <%= user.firstName %> <%= user.lastName %></h1>

			<form method="POST" action="/profile-page" class="profile-form">
				<fieldset>
				<label for="name">First name</label>
				<input type="text" name="firstName" id="firstName" value="<%= user.firstName %>">
				<label for="name">Last name</label>
				<input type="text" name="lastName" id="lastName" value="<%= user.lastName %>">
				<label for="age">Age</label>
				<input type="number" name="age" id="age" value="<%= user.age %>" >
				<label for="age">Gender</label>
				<input type="text" name="gender" id="gender" value="<%= user.gender %>" >
			</fieldset>

			<fieldset>
				<h2>Tell something about yourself</h2>
				<label for="bio">Bio</label>
				<textarea name="bio" id="bio" cols="30" rows="3"><%= user.bio %></textarea>
			</fieldset>

			<fieldset class="interests">
				<h2>What are some of your interests?</h2>
				<label for="interest">1</label>
				<input type="text" name="interest" id="interest" value="<%= user.interest[0] %>">
				<label for="interest">2</label>
				<input type="text" name="interest" id="interest" value="<%= user.interest[1] %>">
				<label for="interest">3</label>
				<input type="text" name="interest" id="interest" value="<%= user.interest[2] %>">
			</fieldset>
				<input type="submit" value="save" class="profile-form-button">
		</form>

		 <a href="/">Back to home</a>

	 </main>

  </body>
</html>
